<h1>Approve Users</h1>
<table class="table table-striped" *ngIf="users">
    <thead>
        <tr>
            <th style="width: 15%">First Name</th>
            <th style="width: 15%">Last Name</th>
            <th style="width: 15%">Username</th>
            <th style="width: 15%">Role Name</th>
            <th style="width: 15%">Approved</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.roles?.roleName}}</td>
            <td>{{user.isActive}}</td>
            <td style="white-space: nowrap">
                <button (click)="approveUser(user.userName!)" class="btn btn-sm btn-success ms-1"
                    [disabled]="isApproving">
                    <span *ngIf="isApproving" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!isApproving">Approve</span>
                </button>
                <button (click)="deleteUser(user.userName!)" class="btn btn-sm btn-danger ms-1" [disabled]="isDelete">
                    <span *ngIf="isDelete" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!isDelete">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>